[data-theme="dark"] {
    --background-color: hsl(230, 17%, 14%);
    --background-card: hsl(228, 28%, 20%);
    --text-color-one: hsl(228, 34%, 66%);
    --text-color-two: hsl(0, 0%, 100%);
    --toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --toggle-hover: var(--toggle);
    --filter-on-card: brightness(125%);
    --line-color: var(--text-color-one);
}

[data-theme="light"] {
    --background-color: hsl(0, 0%, 100%);
    --background-card: hsl(227, 47%, 96%);
    --text-color-one: hsl(228, 12%, 44%);
    --text-color-two: hsl(230, 17%, 14%);
    --toggle: hsl(230, 22%, 74%);
    --toggle-hover: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --filter-on-card: brightness(95%);
    --line-color: var(--text-color-one);
}